/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* GENERAL */
* {
  font-family: "Lato", sans-serif;
  color: #fff;
}

html {
  background-color:#6d8798;
  background: url("../src/images/main-background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}

h1 {
  font-weight: 300;
  font-size: 74px;
  margin-bottom: 5%;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

button {
  box-sizing: border-box;
  border: solid 0.5px #fff;
  background: transparent;
  border-radius: 8px;
  padding: 8px;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}

.back-button{
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.account-icon{
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: 35px;
}

.container-outline{
  box-sizing: border-box;
  border: .5px solid #fff;
  border-radius: 10px;
  
}

.streak{
  position: absolute;
  top: 0;
  right: 0;
}

.logout-button{
  position: absolute;
  top: 2vh;
  right: 2vw;
}

.modal, .modal-footer{
  background: lightblue !important;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 25px;
  }
  .multiple-choice-item{
    font-size: 20px;
  }
  
}