/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* GENERAL */
* {
  font-family: "Lato", sans-serif;
  color: #fff;
}

body{
    background: url("../src/images/main-background.png");
    background-size: cover;
}

h1{
    font-weight: 300;
}

h2{
    font-weight: 300;
}
